<div class="main" fxLayout="column" fxLayoutGap="70px">
  <!-- Slide Image -->
  <div class="slide" fxLayout="row">
    <div class="layer">
      <div class="layerContent" fxLayout="column" fxLayoutGap="20px" fxFlex="75%">
        <h3 class="m-0">BEST ONLINE COURSES</h3>
        <h1 class="m-0">The Best Online Learning Platform</h1>
        <p class="m-0">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo
          clita etkasd rebum sea sanctus eirmod elitr.</p>
        <div fxLayout="row" fxLayoutGap="20px">
          <button class="Read">Read More</button>
          <button class="Join"> Join Now</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content -->
  <div class="eLearning" fxLayout="column" fxLayoutGap="70px">
    <!-- Card Content -->
    <div class="cardMain" fxLayout="row warp" fxLayoutAlign="space-between center">
      <div class="card" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center" fxLayoutGap.lt-md="5%"
        fxFlex="23%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%">
        <i class="fa-solid fa-graduation-cap fa-3x"></i>
        <h2 class="m-0">Skilled Instructors</h2>
        <p class="m-0">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam </p>
      </div>
      <div class="card" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center" fxLayoutGap.lt-md="5%"
        fxFlex="23%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%">
        <i class="fa-solid fa-globe fa-3x"></i>
        <h2 class="m-0">Skilled Instructors</h2>
        <p class="m-0">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam </p>
      </div>
      <div class="card" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center" fxLayoutGap.lt-md="5%"
        fxFlex="23%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%">
        <i class="fa-solid fa-home fa-3x"></i>
        <h2 class="m-0">Skilled Instructors</h2>
        <p class="m-0"> Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam </p>
      </div>
      <div class="card" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center" fxLayoutGap.lt-md="5%"
        fxFlex="23%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%">
        <i class="fa-solid fa-book-open fa-3x"></i>
        <h2 class="m-0">Skilled Instructors</h2>
        <p class="m-0">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam </p>
      </div>
    </div>
    <!-- About eLearning -->
    <div class="about" fxLayout="row" fxLayoutGap="4%" fxLayout.lt-md="column">
      <div class="aboutImg" fxFlex="50%">
        <img src="/2.jpg" alt="" fxFlex="100%">
      </div>
      <div class="aboutContent" fxLayout="column" fxFlex="50%" fxLayoutGap="25px" fxLayoutGap.lt-md="2%">
        <div class="heading">
          <div class="aboutDesign" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="2%">
            <h4 class="m-0">ABOUT US</h4>
            <div fxLayout="column" fxLayoutGap="10%">
              <div class="l1"></div>
              <div class="l2"></div>
            </div>
          </div>
          <h1 class="m-0">Welcome to eLEARNING</h1>
        </div>
        <p class="m-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
          erat ipsum et
          lorem et sit.</p>
        <p class="m-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
          erat ipsum et
          lorem et sit.</p>
        <div class="aboutPoints" fxLayout="row" fxLayoutGap="20%" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="6%">
          <div class="pointLeft" fxLayout="column" fxLayoutGap="15px">
            <div fxLayout="row" fxLayoutAlign=" center" fxFlexOrder="1" fxLayoutGap="10px" fxFlexOrder.lt-sm="1">
              <i class="fa-solid fa-arrow-right fa-lg"></i>
              <p class="m-0"> Skilled Instructors</p>
            </div>
            <div fxFlexOrder="2" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px" fxFlexOrder.lt-sm="3">
              <i class="fa-solid fa-arrow-right fa-lg"></i>
              <p class="m-0"> International Certificate</p>
            </div>
            <div fxFlexOrder="3" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px" fxFlexOrder.lt-sm="2">
              <i class="fa-solid fa-arrow-right fa-lg"></i>
              <p class="m-0"> Online Classes</p>
            </div>
          </div>
          <div class="pointRight" fxLayout="column" fxLayoutGap="6%">
            <div fxFlexOrder="1" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px" fxFlexOrder.lt-sm="2">
              <i class="fa-solid fa-arrow-right fa-lg"></i>
              <p class="m-0"> Online Classes</p>
            </div>
            <div fxFlexOrder="2" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px" fxFlexOrder.lt-sm="1">
              <i class="fa-solid fa-arrow-right fa-lg"></i>
              <p class="m-0"> Skilled Instructors</p>
            </div>
            <div fxFlexOrder="3" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px" fxFlexOrder.lt-sm="3">
              <i class="fa-solid fa-arrow-right fa-lg"></i>
              <p class="m-0"> International Certificate</p>
            </div>
          </div>
        </div>
        <button style="width: 30%;" class="read">Read More</button>
      </div>

    </div>
    <!-- Category Courses Avail -->
    <div class="categories">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="end end">
                <div class="l1"></div>
                <div class="l2"></div>
              </div>
              <h3 class="m-0">CATEGORIES</h3>
              <div fxLayout="column" fxLayoutGap="10%">
                <div class="l1"></div>
                <div class="l2"></div>
              </div>
            </div>
            <h1>Courses Categories</h1>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <div class="catImgLeft" fxLayout="column" fxFlex="60%" fxLayoutGap="20px" fxFlex.lt-md="50%">
            <div class="Graphic" fxLayoutAlign="end end">
              <img fxFlex="100%" src="/3.jpg" alt="">
              <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
              <div class="Graphic" fxLayoutAlign="end end" fxFlex="50%">
                <img fxFlex="100%" src="/4.jpg" alt="">
                <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
                </div>
              </div>
              <div class="Graphic" fxLayoutAlign="end end" fxFlex="50%">
                <img fxFlex="100%" src="/5.jpg" alt=" ">
                <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
                </div>
              </div>
            </div>
          </div>
          <div class="Graphic" fxLayout="column" fxFlex="40%" fxFlex.lt-md="50%" fxLayoutAlign="end ">
            <img fxFlex="100%" src="/6.jpg" alt="">
            <div class="overlay" fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="end">
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="categories" fxLayout="column">
      <div class="heading" fxLayout="column" fxLayoutAlign="center center" fxFlex="50%">
        <div class="catDesign" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
          <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="end end">
            <div class="l1"></div>
            <div class="l2"></div>
          </div>
          <h3 class="m-0">CATEGORIES</h3>
          <div fxLayout="column" fxLayoutGap="10%">
            <div class="l1"></div>
            <div class="l2"></div>
          </div>
        </div>
        <h1 class="m-0">Courses Categories</h1>
      </div>
      <div class="catImg" fxLayout="row" fxLayoutGap="20px" fxFlex="50%" fxLayout.lt-sm="column">
        <div class="catImgLeft" fxLayout="column" fxFlex="60%" fxLayoutGap="20px" fxFlex.lt-md="50%">
          <div class="Graphic" fxLayoutAlign="end end">
            <img fxFlex="100%" src="/3.jpg" alt="">
            <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
              <h3 class="m-0">Web Design</h3>
              <p class="m-0">49 Courses</p>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
            <div class="Graphic" fxLayoutAlign="end end" fxFlex="50%">
              <img fxFlex="100%" src="/4.jpg" alt="">
              <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
                <h3 class="m-0">Graphic Design</h3>
                <p class="m-0">49 Courses</p>
              </div>
            </div>
            <div class="Graphic" fxLayoutAlign="end end" fxFlex="50%">
              <img fxFlex="100%" src="/5.jpg" alt=" ">
              <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
                <h3 class="m-0">Video Design</h3>
                <p class="m-0">49 Courses</p>
              </div>
            </div>
          </div>
        </div>
        <div class="Graphic" fxLayout="column" fxFlex="40%" fxFlex.lt-md="50%" fxLayoutAlign="end ">
          <img fxFlex="100%" src="/6.jpg" alt="">
          <div class="overlay" fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="end">
            <h3 class="m-0">Graphic Design</h3>
            <p class="m-0">49 Courses</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Popular Courses -->
    <div class="popularCourses" fxLayout="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0%">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="heading">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
            <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign=" end">
              <div class="l1"></div>
              <div class="l2"></div>
            </div>
            <h3>COURSES</h3>
            <div fxLayout="column" fxLayoutGap="10%">
              <div class="l1"></div>
              <div class="l2"></div>
            </div>
          </div>
          <h1>Popular Courses</h1>
        </div>
      </div>
      <div class="totalContent" fxLayout="row warp" fxLayoutAlign="center center" fxLayoutGap="2%"
        fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0">
        @for(i of courses; track $index){
        <div class="popularCourse" fxLayout="column" fxFlex="32%" fxFlex.lt-md="48%" fxLayoutGap="15px">
          <div class="popimg" fxLayoutAlign="center end">
            <img fxFlex="100%" [src]=i.img alt="">
            <div class="courseOverlay" fxLayout="row" fxLayoutAlign="center center">
              <a class="overlayRead" href="">Read More</a>
              <a class="overlayJoin" href="">Join Now</a>
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
            <div fxLayout="column" class="courseContent">
              <h2>{{i.amount}}</h2>
              <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign=" center">
                @for(ic of getRange(i.icon);track $index){
                <i class="fa-solid fa-star fa-sm"></i>
                }
                <span>(128)</span>
              </div>
            </div>
            <h3>{{i.head}}</h3>
          </div>


          <div class="subContent" fxLayout="row" fxLayoutAlign="center center">
            <div class="content" fxLayout="column" fxLayoutAlign=" center" fxFlex="33.33%">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <i [class]=icon[0]> </i>
                <p>{{i.staff}}</p>
              </div>
            </div>
            <div class="content" fxLayout="column" fxLayoutAlign="centercenter" fxFlex="33.33%">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <i [class]=icon[1]> </i>
                <p>{{i.time}}</p>
              </div>
            </div>
            <div class="content" fxLayout="column" fxLayoutAlign=" center" fxFlex="33.33%">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <i [class]=icon[2]> </i>
                <p>{{i.students}}</p>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <!-- Expert instructor -->
    <div class="instruction" fxLayout="column">
      <div class="heading" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
          <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign=" end">
            <div class="l1"></div>
            <div class="l2"></div>
          </div>
          <h3>INSTRUCTORS</h3>
          <div fxLayout="column" fxLayoutGap="10%">
            <div class="l1"></div>
            <div class="l2"></div>
          </div>
        </div>
        <div fxLayout="column">
          <h1>Expert Instructors</h1>
        </div>
      </div>
      <div fxLayout="row warp" fxLayoutAlign="space-between center">
        @for( i of expert; track $index){
        <div class="instructorInfo" fxLayout="column" fxFlex="24%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%"
          fxLayoutGap="20px">
          <div class="instructorImage" fxLayoutAlign="center end">
            <img fxFlex="100%" [src]=i.img alt="">
            <div class="social" fxLayoutAlign="space-between center">
              <a href="" [class]=icon[3] fxFlex="30%" fxLayoutAlign="center center"></a>
              <a href="" [class]=icon[4] fxFlex="30%" fxLayoutAlign="center center"></a>
              <a href="" [class]=icon[5] fxFlex="30%" fxLayoutAlign="center center"></a>
            </div>
          </div>
          <div class="instructorContent" fxLayout="column" fxLayoutAlign="center center">
            <h3>{{i.name}}</h3>
            <p>{{i.designation}}</p>
          </div>

        </div>
        }
      </div>
    </div>
    <!-- Testimonal Content -->
    <div class="testimonial" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
      <div class="heading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
          <div fxLayout="column" fxLayoutAlign=" end" fxLayoutGap="10%">
            <div class="l1"></div>
            <div class="l2"></div>
          </div>
          <h3>TESTIMONIAL</h3>
          <div fxLayout="column" fxLayoutGap="10%">
            <div class="l1"></div>
            <div class="l2"></div>
          </div>
        </div>
        <h1>Our Students Say!</h1>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between" fxLayout.lt-sm="column">
        <div fxLayout="column" fxFlex="32%" fxLayoutGap="50px">
          <div class="testImg" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign=" center">
            <img src="/testimonial-2.jpg" alt="">
            <h2>Client Name</h2>
            <p>Proffession</p>

          </div>
          <div class="testContent">
            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et
              lorem et sit.</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="32%" fxLayoutGap="50px">
          <div class="testImg" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign=" center">
            <img src="/testimonial-2.jpg" alt="">
            <h2>Client Name</h2>
            <p>Proffession</p>

          </div>
          <div class="testContent" fxLayoutAlign="center center">
            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et
              lorem
              et sit.</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="32%" fxLayoutGap="50px">
          <div class="testImg" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign=" center">
            <img src="/testimonial-2.jpg" alt="">
            <h2>Client Name</h2>
            <p>Proffession</p>
          </div>
          <div class="testContent" fxLayoutAlign="center center">
            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et
              lorem et sit.</p>
          </div>
        </div>
      </div>
      <div class="btn" fxLayout="row" fxLayoutGap="10px">
        <div class="span"></div>
        <div class="span"></div>
        <div class="span"></div>
        <div class="span"></div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer" fxLayout="column" fxLayoutGap="20px">
    <div class="contnet" fxLayout="row warp" fxLayoutAlign="space-between" fxLayout.lt-sm="column">
      <div class="quick" fxLayout="column" fxFlex="25%" fxFlex.lt-md="50%" fxLayoutGap="25px">
        <h3>Quick link</h3>
        <div fxLayout="column" fxLayoutGap="15px">
          <p fxLayoutGap="5px" fxLayoutAlign=" center"><i class="fa-solid fa-chevron-right fa-xs"></i><span>About
              us</span>
          </p>
          <p fxLayoutGap="5px" fxLayoutAlign=" center"><i class="fa-solid fa-chevron-right fa-xs"></i><span>Contact
              us</span></p>
          <p fxLayoutGap="5px" fxLayoutAlign=" center"> <i class="fa-solid fa-chevron-right fa-xs"></i><span>Privacy
              Policy</span></p>
          <p fxLayoutGap="5px" fxLayoutAlign=" center"> <i class="fa-solid fa-chevron-right fa-xs"></i><span>Terms &
              Condition</span></p>
          <p fxLayoutGap="5px" fxLayoutAlign=" center"> <i class="fa-solid fa-chevron-right fa-xs"></i><span>FAQs &
              Help</span></p>
        </div>
      </div>
      <div class="contact" fxLayout="column" fxFlex="25%" fxFlex.lt-md="50%" fxLayoutGap="25px">
        <h3>Contact</h3>
        <div fxLayout="column" fxLayoutGap="15px">
          <p fxLayoutGap="5px" fxLayoutAlign=" center"><i class="fa-solid fa-location-dot fa-sm"></i><span>123 Street,
              New
              York, USA</span></p>
          <p fxLayoutGap="5px" fxLayoutAlign=" center"><i class="fa-solid fa-phone fa-sm"></i><span>+012 345
              67890</span>
          </p>
          <p fxLayoutGap="5px" fxLayoutAlign=" center"><i
              class="fa-solid fa-envelope fa-sm"></i><span>mail&#64;domain.com</span></p>
          <div class="icon" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign=" center">
            <a href="" fxLayoutAlign="center center" class="fa-brands fa-twitter fa-sm"></a>
            <a href="" fxLayoutAlign="center center" class="fa-brands fa-facebook-f fa-sm"></a>
            <a href="" fxLayoutAlign="center center" class="fa-brands fa-youtube fa-sm"></a>
            <a href="" fxLayoutAlign="center center" class="fa-brands fa-linkedin-in fa-sm"></a>
          </div>
        </div>
      </div>
      <div class="mainGal" fxLayout="column" fxFlex="25%" fxFlex.lt-md="50%" fxLayoutGap="25px">
        <h3>Gallery</h3>
        <div class="gallery" fxLayout="row" fxFlex="50%" fxLayoutGap="10px">
          <img fxFlex="25%" src="/course-1.jpg" alt="">
          <img fxFlex="25%" src="/course-2.jpg" alt="">
          <img fxFlex="25%" src="/course-3.jpg" alt="">
        </div>
        <div class="gallery" fxLayout="row" fxFlex="50%" fxLayoutGap="10px">
          <img fxFlex="25%" src="/course-1.jpg" alt="">
          <img fxFlex="25%" src="/course-2.jpg" alt="">
          <img fxFlex="25%" src="/course-3.jpg" alt="">
        </div>
      </div>
      <div class="newsLetter" fxLayout="column" fxFlex="25%" fxFlex.lt-md="50%" fxLayoutGap="25px">
        <h3>Newsletter</h3>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="input" fxLAyout="row" fxLayoutAlign="space-between center">
          <input fxFlex="70%" type="text" placeholder="Your email">
          <button fxFlex="30%">SignUp</button>
        </div>
      </div>
    </div>

    <div class="line">
    </div>
    <div fxLayout="row" fxLayoutAlign=" center" fxLayout.lt-md="column">
      <div fxLayout="column" fxFlex="70%">
        <p>© <a href="">Your Site Name</a> , All Rights Reserved. Designed By <a href="">HTML Codex</a></p>
      </div>
      <div fxLayout="row" class="footerMenu" fxFlex="30%" fxLayoutAlign="end space-between">
        <a fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center" href="">Home</a>
        <a fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center" href="">Cookies</a>
        <a fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center" href="">Help</a>
        <a fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center" href="">FAQs</a>
      </div>
    </div>
  </div>
</div>